<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper" style="max-width:1500px;">
      <header>        
        <div style="display:inline;float:center">
        <p>{{ site.description | default: site.github.project_tagline }}
          <!--<img src="Logo.png" style="width:150px" /></p>-->
          
          
          <img src="{{site.logo | relative_url}}" alt="Logo"  style="width:250px" />
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
          <p style="font-size:17px;">Postdoctoral Research Associate<br>University of Florida</p>
          
          <p>
          <br><b>E-mail</b>:
            <br><a href="mailto:yjeon1@ufl.edu">yjeon1[at]ufl.edu</a>
            
        <br>        
        <br><b>Links</b>:
        <br><a href="https://scholar.google.com/citations?user=hEv4S_4AAAAJ&hl=ko" target="_blank">Google Scholar</a>
        <br><a href="https://www.linkedin.com/in/younghyeon-jeon-7337b5179/" target="_blank">Linkedin</a>
        
        </p>
      </div>
      </header>
      <div style="display:inline;float:center">
      <section>

      {{ content }}
        
      </section>
      </div>
    <!--</div>-->
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
